
<p-toolbar styleClass="p-mb-4">
    <div class="p-toolbar-group-left">
        <button type="button" pButton icon="pi pi-bars" (click)="toggleMenu()" ></button>
        <div class="p-toolbar-group-center">
            <h1>Library Application</h1>
        </div>
    </div>
    <div class="p-toolbar-group-right">
        <a href="/profile">
            <div class="profile-photo">
              <img width="60px" [src]="image" alt="Profile Photo" *ngIf="image; else noImage">
              <ng-template #noImage>
                <div class="initial">{{ getFirstLetter() }}</div>
              </ng-template>
            </div>
          </a>&nbsp;&nbsp;
        <!-- <button pButton label="Profile" class="p-button-text" routerLink="/profile"></button> -->
        <button pButton label="Logout" icon="pi pi-sign-in" class="p-button-primary p-ml-2" routerLink="/logout"></button>
    </div>
  </p-toolbar>
  
  <p-sidebar [(visible)]="menuVisible" position="left" class="custom-sidebar">
    <ul class="p-list">
        <li>
            <button pButton label="Dashboard" icon="pi pi-chart-line" class="p-button-text p-button-primary" routerLink="/dash" (click)="toggleMenu()"></button>
        </li>
        <li>
            <button pButton label="Discover" icon="pi pi-home" class="p-button-text p-button-primary" routerLink="/discover" (click)="toggleMenu()"></button>
        </li>
        <li>
            <button pButton label="All-books" icon="pi pi-book" class="p-button-text p-button-primary" routerLink="/all-books" (click)="toggleMenu()"></button>
        </li>
        <li>
          <button pButton label="Borrowed-books" icon="pi pi-book" class="p-button-text p-button-primary" routerLink="/borrow" (click)="toggleMenu()"></button>
      </li>
    </ul>
  </p-sidebar>
  
  <div class="content" style="text-align: center; min-height: 600px;">
    <router-outlet></router-outlet>
  </div>
  